/* Regole di stile generali */

* {
  margin: 0;
  padding: 0;
}




/* Regole di stile header */

header {
  background-color: lightblue;
  background-image: url("../img/pattern.png");
  background-size: 22%;
}

#logo {
  width: 10%;
  margin-left: 20px;
  margin-top: 40px;
}




/* Regole di stile main */
main, footer {
  margin-top: 20px;
  margin-left: 20px;
}

#author-name {
  color: rgb(0, 0, 255);
}

#photo-info {
  margin-top: 10px;
  margin-bottom: 20px;
}

#list {
  margin-left: 20px;
}

#paragraph, #list, table {
  margin-bottom: 20px;
}

#highlighted {
  background-color: yellow;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: lightblue;
}

th {
  text-align: left;
}

td {
  width: 30%;
}

.table-background {
  background-color: lightgray;
}



/* Regole di stile footer */

footer h3 {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container {
  position: relative;
} 

.article-name {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
